%section.sign_in.container
  .row
    .span10.offset1
      .sign_in
        = form_tag sign_in_path do
          %header
            %h1
              Sign in
          %p
            = label_tag :email
            = text_field_tag :email
          %p
            = label_tag :password
            = password_field_tag :password
          .action
            = submit_tag "Sign in"
            = link_to "Forgot password?", forgot_password_path
