%section.reset_password.container
  .row
    .span10.offset1
      = form_tag reset_password_path do
        %header
          %h1
            Reset Your Password

        %fieldset
          = hidden_field_tag "password_reset_token", @user.password_reset_token
        %fieldset
          = label_tag :password, "New Password"
          = text_field_tag :password
        %fieldset
          = label_tag :password_confirmation, "New Password Confirmation"
          = text_field_tag :password_confirmation
        %fieldset.action
          = submit_tag "Reset password"
