%section.invite.container
  .row
    .span10.offset1
      .invite
        = form_tag friend_invites_path do
          %header
            %h1 Invite a friend to join MyFlix!
          %fieldset
            = label_tag :full_name, "Friend's Name"
            = text_field_tag :full_name
            = label_tag :email, "Friend's Email"
            = text_field_tag :email
            = label_tag :intivation_message
            = text_area_tag :intivation_message, "Please join this really cool site!", class: "span4", rows: "6"
          %fieldset.action
            %input(type="submit" value="Send Invitation" class="btn")
